<!DOCTYPE html>
<html>
  <head>
     <title><%= title %></title>
  </head>
  <body>
     <h1><%= title %></h1>
	 <p>This header is dynamically created using an EJS view. And, this page has been viewed <%= views %> times during this web session.</p>
  </body>
</html>